body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #e0e8ff;
  width: auto;
  width: 1440px;
  display: flex;
}

img.img-illustration-hero {
  margin: 0;
  padding: 0;
  width: 420px;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.summary {
  display: block;
  background-color: rgb(220, 220, 220);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

h1.summary-text {
  font-family: "Red Hat Display", sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #1e3253;
  margin-top: 35px;
  margin-bottom: 15px;
  text-align: center;
}

p.summary-paragraph {
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  color: #8e8fa1;
}

/* Button */
div.button__ {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

button {
  border: none;
  margin: 0;
  padding: 0;
}

.button-plan {
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: #f8f9fe;
  border: none;
  display: flex;
  justify-content: space-evenly;
}

.button-pay {
  background-color: #382ae1;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  font-size: 11px;
  margin: 0px 50px 15px 50px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  box-shadow: 0 20px 20px #e1defb;
  cursor: pointer;
}

a.click-cancel {
  display: flex;
  justify-content: center;
  color: #7f859f;
  font-family: "Red Hat Display", sans-serif;
  font-size: 11px;
  margin: 0px 50px 15px 50px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  background-color: none;
  text-decoration: none;
  color: #7f859f;
}
